<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet"
          th:href="@{/css/styles.css}">

</head>

<body>

<div class="auth-card">

    <h2 class="auth-title">Login</h2>

    <div class="auth-switch">

        <a class="active"
           th:href="@{/login}">
            Login
        </a>

        <a th:href="@{/registration}">
            Signup
        </a>

    </div>

    <div class="message"
         th:if="${param.error}">

        Invalid Username or Password

    </div>

    <div class="message"
         th:if="${param.logout}">

        Logout Successfully

    </div>

    <form th:action="@{/login}"
          method="post">

        <div class="form-group">

            <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Email"
                required>

        </div>

        <div class="form-group">

            <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Password"
                required>

        </div>

        <button type="submit"
                class="btn-auth">

            Login

        </button>

    </form>

    <div class="bottom-text">

        Not a member?

        <a th:href="@{/registration}">
            Signup now
        </a>

    </div>

</div>

</body>
</html>