<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4" th:fragment="navigation">
    <a class="navbar-brand fw-bold" href="#">Tech360 Stock</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mobilentry}">Add Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mobileview}">View Stock</a>
            </li>
        </ul>
    </div>
</nav>