.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ===== PAGE ===== */
body {
    background: linear-gradient(135deg, #dbeafe, #f0f9ff);
    font-family: Arial, sans-serif;
}

/* ===== CARD ===== */
.welcome-card {
    width: 420px;
    border-radius: 15px;
    background-color: white;
}

/* ===== HEADING ===== */
.title {
    color: #0f172a;
    font-size: 30px;
    font-weight: bold;
}

/* ===== IMAGES ===== */
.card-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: auto;
    border: 3px solid #0ea5e9;
}

/* ===== DESCRIPTION ===== */
.description {
    font-size: 18px;
    color: #475569;
}