<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1> Online Mart </h1>

<h3> Single Products </h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    
        <tr th:each="product, index : ${products}" th:if="${index.index == 1}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
</table>  


<h3>Product List</h3>
<table border=”1”>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>